@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  input {
    background: none;
  }
}

:root {
  --brandColor: 248, 69, 37;
  --bgdark: 20, 25, 27;
  --text-second: 145, 152, 158;

  --onda-fill-1: rgba(var(--background), 0.6);
  --onda-fill-2: rgba(var(--background), 0.4);
  --onda-fill-3: rgba(var(--background), 0.2);
  --onda-fill-4: rgba(var(--background), 1);
}

/* Default color for light theme */
.brand-image {
  fill: rgba(var(--brandColor), 1); /* or any color you like */
}

.dark {
  --background: 30, 36, 45;
  --bglight: 20, 25, 27;
  --text: 255, 255, 255;

  background: rgba(var(--background));
  .brand-image {
    fill: rgba(var(--brandColor), 0.7); /* Or a darker color */
  }
  .btn-dark {
    background-color: #212529;
    border: #212529;
    color: #fff;
    &:hover {
      background-color: #0e0e0e;
      border: #0e0e0e;
    }
  }
  .btn-light {
    background-color: #12161c;
    border: #12161c;
    color: #fff;
    &:hover {
      background-color: #f7edeb;
      border: #f7edeb;
      color: #12161c;
    }
  }

  .switch-colors {
    animation: fixedNav-dark linear forwards;
    animation-timeline: view();
    animation-range-start: 100vh;
  }
  .brand-image {
    filter: invert(1) brightness(1.5); /* Invert colors and boost brightness for dark mode */
    mix-blend-mode: normal; /* Reset blend mode for dark mode */
  }
}
.light {
  --background: 255, 255, 255;
  --bglight: 248, 244, 243;
  --text: 0, 0, 0;

  background: rgba(var(--background));

  .btn-dark {
    background-color: #212529;
    border: #212529;
    color: #fff;
    &:hover {
      background-color: #0e0e0e;
      border: #0e0e0e;
    }
  }
  .btn-light {
    background-color: #f8f4f3;
    border: #f8f4f3;
    color: #12161c;
    &:hover {
      background-color: #f7edeb;
      border: #f7edeb;
    }
  }

  .switch-colors {
    animation: fixedNav-light linear forwards;
    animation-timeline: view();
    animation-range-start: 100vh;
  }
}

.brand-image {
  mix-blend-mode: multiply; /* Works well for light mode */
}

.drop {
  position: relative;
  animation: drop 1s forwards; /* Change duration as needed */
}
#Testimonial .swiper-button {
  .swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /* Ensure buttons are above slides */
  }

  .swiper-button-left {
    left: 0; /* Align to the left */
  }

  .swiper-button-right {
    right: 0; /* Align to the right */
  }
}
.card {
  ul,
  li {
    display: flex;
    color: #91989e;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  ul {
    margin: 10px 0;
  }
  li {
    flex-grow: 1;
    align-items: center;
    gap: 3px;
  }
}
.shine {
  position: relative;
  overflow: hidden;
  &:hover span {
    left: 100%;
    transition: 0.5s;
  }
}
.shine span {
  display: block;
  height: 100%;
  width: 50%;

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );

  position: absolute;
  top: 0;
  left: -75%;
  transform: skewX(-25deg);
}

.descount {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
}
.dark-overlay {
  border-image: fill 1 linear-gradient(to bottom, #2c2c2c, #1a1a1a);
}
.swiper-nav-btns {
  button {
    padding: 13px;
    border: 1px solid rgb(145, 152, 158);
    border-radius: 50%;
    font-size: 1.2rem;
    &:hover {
      background-color: rgb(var(--brandColor));
      border: 1px solid rgb(var(--brandColor));
    }
  }
}

@keyframes fixedNav-light {
  100% {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 6px 29px -1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 6px 29px -1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 6px 29px -1px rgba(0, 0, 0, 0.46);
  }
}
@keyframes fixedNav-dark {
  100% {
    background-color: rgb(30, 36, 45);
    -webkit-box-shadow: 0px 6px 29px -1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 6px 29px -1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 6px 29px -1px rgba(0, 0, 0, 0.46);
  }
}
@keyframes drop {
  0% {
    top: -100px; /* Start above the view */
  }
  100% {
    top: 0px; /* End position */
  }
}

.text-span {
  background-image: url("data:image/svg+xml,%3Csvg width='262' height='17' viewBox='0 0 262 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.99931 12.9463C70.3926 7.14883 214.09 -1.29457 257.733 11.3115' stroke='%23F84525' stroke-width='8' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: auto;
}
#explore {
  background-image: url("/svgs/lines-2.svg");
  background-repeat: repeat-y;
  background-size: 100% auto;
}

#services {
  background: linear-gradient(
    180deg,
    rgb(var(--bglight)) 0%,
    rgb(var(--bglight)) 700px,
    rgb(var(--background)) 900px,
    rgb(var(--background)) 100%
  );
}
.number-wrap {
  background-image: url("/svgs/number-wrap.svg");
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
  background-position: 50% 50px;
  background-size: 73%;
}
.Container {
  max-width: 1450px; /* Replaces fixed width with max-width */
  width: 100%; /* Ensures it takes full width up to max-width */
  margin: auto;
}
.controls {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  > * {
    display: inline;
    cursor: pointer;
  }
}

.brandCard:hover{
  transform: translateY(-20px);
  transition: all 400ms ease-out;
  span{
    background-color: rgb(var(--brandColor));
  transition: all 400ms ease-out;

  }
}

/* Media query for screens up to 1400px */
@media (max-width: 1400px) {
  .Container {
    max-width: 1200px; /* Correctly targets the container, not its children */
  }
}

/* Media query for screens up to 1220px */
@media (max-width: 1220px) {
  .Container {
    max-width: 990px;
  }
  .number-wrap {
    background-image: none;
    background-repeat: no-repeat;
    background-position: 50% 50px;
    background-size: 73%;
  }
}

/* Media query for screens up to 992px */
@media (max-width: 992px) {
  .Container {
    max-width: 760px;
  }
  .controls {
    font-size: 1.5rem;
  }
}

/* Media query for mobile screens (up to 768px) */
@media (max-width: 768px) {
  .Container {
    max-width: 90%; /* Uses max-width instead of width for consistency */
  }
}
.onde {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

#login {
  .signin-btn,
  .loginform > .input {
    display: block;
    text-align: left;
    padding: 14px 30px;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    transition: all 200ms ease-in;
    display: flex;
    align-items: center;
    gap: 5px;

    &:first-child {
      display: inline;
      font-size: 1.2rem;
    }
  }

  .loginform input[type="submit"] {
    text-align: center;
  }
}
.loginform .inputContainer {
  border: 1px solid rgb(var(--text-second));
  text-align: left;
  padding: 14px 30px;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  label {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background-color: rgb(var(--background));
    padding: 0 5px;
  }

  input {
    outline: none;
    flex-grow: 1;

    &:-webkit-autofill {
      -webkit-box-shadow: 200px 200px 100px rgb(var(--background)) inset;
      box-shadow: 200px 200px 100px rgb(var(--background)) inset;
    }
  }
}
.socila-list {
  display: flex;
  gap: 0.5rem;
  li {
    font-size: 2rem;
    display: inline;
    background-color: rgba(var(--text-second), 0.5);
    padding: 10px;
    border-radius: 50%;
    transition: all 500ms ease;
  }
}

/* Animation */
.ondebox {
  position: absolute;
  top: 90vh;

  transform: translate(0%, -30%);
}

.parallaxonde > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallaxonde > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallaxonde > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallaxonde > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallaxonde > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .onde {
    height: 40px;
    min-height: 40px;
  }
  .ondebox {
    top: 100vh;

    transform: translate(0%, -50%);
    /* display: none; */
  }
}
.car-icon img {
  width: 100px;
  height: 29px;
}

@media (max-width: 768px) {
  .car-icon img {
    width: 50px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
}

.electric-cars {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7),
      rgba(255, 255, 255, 0) 100%
    ),
    url("/images/background/mercedesEQ1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
